:root {
  --layout-wrapper-width: 60rem;
  --layout-wrapper-spacing: 2rem;
  --layout-vertical-stack-gap: 1rem;
  --layout-vertical-stack-separator-color: grey;
  --layout-cluster-gap: 1rem;
  --layout-grid-gap: 2rem;
  --layout-grid-width: 20rem;
}

/* Wrapper */
.layout-wrapper {
  margin: 0 auto;
  padding: 0 var(--layout-wrapper-spacing);

  max-width: calc(
    var(--layout-wrapper-width) + var(--layout-wrapper-spacing) * 2
  );
}

/* Center */
.layout-center {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Vertical Stack */
.layout-vertical-stack {
  --vertical-stack-gap-size: var(--layout-vertical-stack-gap);
  display: flex;
  flex-direction: column;
}

.layout-vertical-stack-item:not(:last-child) {
  margin-bottom: var(--vertical-stack-gap-size);
}

.layout-vertical-stack--xsmall {
  --vertical-stack-gap-size: calc(var(--layout-vertical-stack-gap) * 0.25);
}

.layout-vertical-stack--small {
  --vertical-stack-gap-size: calc(var(--layout-vertical-stack-gap) * 0.5);
}

.layout-vertical-stack--large {
  --vertical-stack-gap-size: calc(var(--layout-vertical-stack-gap) * 2);
}

.layout-vertical-stack--xlarge {
  --vertical-stack-gap-size: calc(var(--layout-vertical-stack-gap) * 3);
}

.layout-vertical-stack--with-separator
  > .layout-vertical-stack-item:not(:last-child) {
  padding-bottom: var(--vertical-stack-gap-size);
  border-bottom: 1px solid var(--layout-vertical-stack-separator-color);
}

/* Cluster */
.layout-cluster {
  --cluster-gap-size: var(--layout-cluster-gap);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: calc(var(--cluster-gap-size) / -2) calc(var(--cluster-gap-size) * -1);

  /* ↓ Suppress horizontal scrolling caused by the negative margin in some circumstances */
  overflow: hidden;
}

.layout-cluster-item {
  margin: calc(var(--cluster-gap-size) / 2) var(--cluster-gap-size);
}

.layout-cluster--right {
  justify-content: flex-end;
}

.layout-cluster--spaced {
  justify-content: space-between;
}

.layout-cluster--xsmall {
  --cluster-gap-size: calc(var(--layout-cluster-gap) * 0.25);
}

.layout-cluster--small {
  --cluster-gap-size: calc(var(--layout-cluster-gap) * 0.5);
}

.layout-cluster--large {
  --cluster-gap-size: calc(var(--layout-cluster-gap) * 2);
}

/* "Floating" is achieved via margin: auto */
.layout-cluster-item--left {
  margin-right: auto;
}

.layout-cluster-item--right {
  margin-left: auto;
}

@media all and (max-width: 420px) {
  .layout-cluster--full-width-on-mobile {
    margin-left: 0;
    margin-right: 0;
  }

  .layout-cluster--full-width-on-mobile > .layout-cluster-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Grid */
.layout-grid {
  display: grid;
  --grid-gap-size: var(--layout-grid-gap);
  --grid-size: var(--layout-grid-width);

  grid-gap: var(--grid-gap-size);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
}

.layout-grid-item {
  min-width: 0;
}
