<div
  class={{
    layout-join-classes
    'layout-center'
    (layout-class-if @horizontal false '' 'layout-center--horizontal')
    (layout-class-if @vertical true 'layout-center--vertical')
  }}
  ...attributes
>
  {{yield}}
</div>