<div class='layout-cluster-wrapper'>
  <div
    class={{
      layout-join-classes
      'layout-cluster'
      (layout-class-if @position 'right' 'layout-cluster--right')
      (layout-class-if @position 'spaced' 'layout-cluster--spaced')
      (layout-class-if @size 'xsmall' 'layout-cluster--xsmall')
      (layout-class-if @size 'small' 'layout-cluster--small')
      (layout-class-if @size 'large' 'layout-cluster--large')
      (layout-class-if @size 'xlarge' 'layout-cluster--xlarge')
      (layout-class-if
        @fullWidthOnMobile true 'layout-cluster--full-width-on-mobile'
      )
      (layout-class-if @noWrap true 'layout-cluster--no-wrap')
      (layout-class-if @verticalAlign 'top' 'layout-cluster--top')
      (layout-class-if @verticalAlign 'bottom' 'layout-cluster--bottom')
      (layout-class-if @verticalAlign 'stretch' 'layout-cluster--stretch')
    }}
    ...attributes
  >
    {{yield (component 'layout/cluster/item')}}
  </div>
</div>