<div
  class={{
    layout-join-classes 'layout-grid' (if @noGrow 'layout-grid--no-grow')
  }}
  style={{layout-css-var grid-gap-size=@gapSize grid-size=@gridSize}}
  ...attributes
>
  {{yield (component 'layout/grid/item')}}
</div>