<div
  class={{
    layout-join-classes
    'layout-vertical-stack'
    (layout-class-if @gap 'xlarge' 'layout-vertical-stack--xlarge')
    (layout-class-if @gap 'large' 'layout-vertical-stack--large')
    (layout-class-if @gap 'small' 'layout-vertical-stack--small')
    (layout-class-if @gap 'xsmall' 'layout-vertical-stack--xsmall')
    (layout-class-if
      @withSeparator true 'layout-vertical-stack--with-separator'
    )
  }}
  ...attributes
>
  {{yield (component 'layout/vertical-stack/item')}}
</div>