<div
  class={{layout-join-classes
    "layout-vertical-stack"
    (layout-class-if @size "xlarge" "layout-vertical-stack--xlarge")
    (layout-class-if @size "large" "layout-vertical-stack--large")
    (layout-class-if @size "small" "layout-vertical-stack--small")
    (layout-class-if @size "xsmall" "layout-vertical-stack--xsmall")
    (layout-class-if @withSeparator true "layout-vertical-stack--with-separator")
  }}
  ...attributes
>
  {{yield
    (component 'layout/vertical-stack/item')
  }}
</div>
